@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background-color: #000;
  font-family: 'Oswald', 'Arial', sans-serif;
  /* margin: 5;  */
  color:white;
}

#page {
    background-color: #403c3b;
    padding:10px;
    height:auto;
}

.heading{
    color:white;
    text-align:center;
    /* margin-bottom: 0.0001px; */
    line-height:20px;
}

.button{
    background-color: #cb6868;
    color: #f3dad1;
    border: none;
    border-radius: 5px;
    padding: 2px 8px;
    float: right;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1px;
}

div.button:hover{
    background-color: #ae5959;
    color: white;
}
.items{
    color: #fff;
    background: #fe9772;
    padding: 5px;
    margin-top:1px;
}

input[type='text'], input[type='password'] {
    background-color: white;
    color: #666;
    font-family: 'Oswald', 'Futura', sans-serif;
    font-size: 24px;
    width: 96%;
    padding: 4px 6px;
    border: 1px solid #999;
    border-radius: 8px;
}

ul{
    list-style-type: none;
}
 #itemDescription{
     width:500px;
}

 #addBtn{
     float:right;
}

#validate{
    background: #c51244 !important;
    padding: 10px !important;
    border-radius: 0 !important;
    position: relative; 
    display: inline-block;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;
}

#validate:before{
    content: '';  
    width: 0;  
    height: 0;  
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c51244;
    position: absolute;  
    top: -10px; 
}
