@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background-color: #000;
  font-family: 'Oswald', 'Arial', sans-serif;
  /* margin: 5;  */
  color:white;
}

#page {
    background-color: #403c3b;
    padding:10px;
    height:auto;
}

.heading{
    color:white;
    text-align:center;
    /* margin-bottom: 0.0001px; */
    line-height:20px;
}

.button{
    background-color: #cb6868;
    color: #f3dad1;
    border: none;
    border-radius: 5px;
    padding: 2px 8px;
    float: right;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1px;
}

div.button:hover{
    background-color: #ae5959;
    color: white;
}
.items{
    color: #fff;
    background: #fe9772;
    padding: 5px;
    margin-top:1px;
}

input[type='text'], input[type='password'] {
    background-color: white;
    color: #666;
    font-family: 'Oswald', 'Futura', sans-serif;
    font-size: 24px;
    width: 96%;
    padding: 4px 6px;
    border: 1px solid #999;
    border-radius: 8px;
}

ul{
    list-style-type: none;
}
 #itemDescription{
     width:500px;
}

 #addBtn{
     float:right;
}

.validate{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png') !important;
    background-repeat:repeat-y;
    height: 31px !important;;
    padding-top: 4px;
    border-radius: 10px;
    width:220px;
}
